<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body style="background-color: gray">
<div id="container" style="text-align: center; background-color: orange">
    <form method="post" action="/">
        <div id="source01">
            <div id="source02">
                <strong>Source</strong><br>
                <textarea style="resize: none" rows="30%" cols="90%" name="source code">{{ source }}</textarea>
            </div>
        </div>

        <div id="html01">
            <div id="html02">
                <strong>HTML</strong><br>
                <textarea style="resize: none" rows="30%" cols="90%" name="html">{{ html }}</textarea>
            </div>
        </div>

        <div id="settings">
<!--        Select languages-->
        <span>Languages:</span>
        <select name="lang">
            <option value="ABAP">ABAP</option>
<option value="APL">APL</option>
<option value="ABNF">ABNF</option>
<option value="ActionScript">ActionScript</option>
<option value="Ada">Ada</option>
<option value="ADL">ADL</option>
<option value="Agda">Agda</option>
<option value="Aheui">Aheui</option>
<option value="Alloy">Alloy</option>
<option value="AmbientTalk">AmbientTalk</option>
<option value="Ampl">Ampl</option>
<option value="ANTLR">ANTLR</option>
<option value="ApacheConf">ApacheConf</option>
<option value="AppleScript">AppleScript</option>
<option value="Arduino">Arduino</option>
<option value="AspectJ">AspectJ</option>
<option value="Asymptote">Asymptote</option>
<option value="Augeas">Augeas</option>
<option value="AutoIt">AutoIt</option>
<option value="autohotkey">autohotkey</option>
<option value="Awk">Awk</option>
<option value="BBCode">BBCode</option>
<option value="BC">BC</option>
<option value="BST">BST</option>
<option value="Bash">Bash</option>
<option value="Befunge">Befunge</option>
<option value="BibTeX">BibTeX</option>
<option value="BlitzBasic">BlitzBasic</option>
<option value="BlitzMax">BlitzMax</option>
<option value="BNF">BNF</option>
<option value="Boa">Boa</option>
<option value="Boo">Boo</option>
<option value="Boogie">Boogie</option>
<option value="Brainfuck">Brainfuck</option>
<option value="BUGS">BUGS</option>
<option value="CAmkES">CAmkES</option>
<option value="C">C</option>
<option value="CMake">CMake</option>
<option value="c-objdump">c-objdump</option>
<option value="CPSA">CPSA</option>
<option value="aspx-cs">aspx-cs</option>
<option value="C#">C#</option>
<option value="cADL">cADL</option>
<option value="CapDL">CapDL</option>
<option value="Ceylon">Ceylon</option>
<option value="CFEngine3">CFEngine3</option>
<option value="ChaiScript">ChaiScript</option>
<option value="Chapel">Chapel</option>
<option value="Charmci">Charmci</option>
<option value="HTML+Cheetah">HTML+Cheetah</option>
<option value="JavaScript+Cheetah">JavaScript+Cheetah</option>
<option value="Cheetah">Cheetah</option>
<option value="XML+Cheetah">XML+Cheetah</option>
<option value="Cirru">Cirru</option>
<option value="Clay">Clay</option>
<option value="Clean">Clean</option>
<option value="Clojure">Clojure</option>
<option value="ClojureScript">ClojureScript</option>
<option value="COBOLFree">COBOLFree</option>
<option value="COBOL">COBOL</option>
<option value="CoffeeScript">CoffeeScript</option>
<option value="Coq">Coq</option>
<option value="C++">C++</option>
<option value="cpp-objdump">cpp-objdump</option>
<option value="Crmsh">Crmsh</option>
<option value="Croc">Croc</option>
<option value="Cryptol">Cryptol</option>
<option value="Crystal">Crystal</option>
<option value="CSS+Ruby">CSS+Ruby</option>
<option value="CSS">CSS</option>
<option value="CSS+PHP">CSS+PHP</option>
<option value="CSS+Smarty">CSS+Smarty</option>
<option value="CUDA">CUDA</option>
<option value="Cypher">Cypher</option>
<option value="Cython">Cython</option>
<option value="D">D</option>
<option value="d-objdump">d-objdump</option>
<option value="Dart">Dart</option>
<option value="DASM16">DASM16</option>
<option value="Delphi">Delphi</option>
<option value="dg">dg</option>
<option value="Diff">Diff</option>
<option value="Docker">Docker</option>
<option value="DTD">DTD</option>
<option value="Duel">Duel</option>
<option value="Dylan">Dylan</option>
<option value="ECL">ECL</option>
<option value="eC">eC</option>
<option value="Easytrieve">Easytrieve</option>
<option value="EBNF">EBNF</option>
<option value="Eiffel">Eiffel</option>
<option value="Elixir">Elixir</option>
<option value="Elm">Elm</option>
<option value="ERB">ERB</option>
<option value="Erlang">Erlang</option>
<option value="HTML+Evoque">HTML+Evoque</option>
<option value="Evoque">Evoque</option>
<option value="XML+Evoque">XML+Evoque</option>
<option value="Ezhil">Ezhil</option>
<option value="F#">F#</option>
<option value="Factor">Factor</option>
<option value="Fancy">Fancy</option>
<option value="Felix">Felix</option>
<option value="Fennel">Fennel</option>
<option value="Fish">Fish</option>
<option value="Flatline">Flatline</option>
<option value="FloScript">FloScript</option>
<option value="Forth">Forth</option>
<option value="FortranFixed">FortranFixed</option>
<option value="Fortran">Fortran</option>
<option value="FoxPro">FoxPro</option>
<option value="Freefem">Freefem</option>
<option value="GAP">GAP</option>
<option value="GLSL">GLSL</option>
<option value="GAS">GAS</option>
<option value="Genshi">Genshi</option>
<option value="Gherkin">Gherkin</option>
<option value="Gnuplot">Gnuplot</option>
<option value="Go">Go</option>
<option value="Golo">Golo</option>
<option value="GoodData-CL">GoodData-CL</option>
<option value="Gosu">Gosu</option>
<option value="Groff">Groff</option>
<option value="Groovy">Groovy</option>
<option value="HLSL">HLSL</option>
<option value="Haml">Haml</option>
<option value="HTML+Handlebars">HTML+Handlebars</option>
<option value="Handlebars">Handlebars</option>
<option value="Haskell">Haskell</option>
<option value="Haxe">Haxe</option>
<option value="Hexdump">Hexdump</option>
<option value="HSAIL">HSAIL</option>
<option value="Hspec">Hspec</option>
<option value="HTML+Genshi">HTML+Genshi</option>
<option value="HTML">HTML</option>
<option value="HTML+PHP">HTML+PHP</option>
<option value="HTML+Smarty">HTML+Smarty</option>
<option value="HTTP">HTTP</option>
<option value="Hxml">Hxml</option>
<option value="Hy">Hy</option>
<option value="Hybris">Hybris</option>
<option value="IDL">IDL</option>
<option value="Icon">Icon</option>
<option value="Idris">Idris</option>
<option value="Igor">Igor</option>
<option value="INI">INI</option>
<option value="Io">Io</option>
<option value="Ioke">Ioke</option>
<option value="Isabelle">Isabelle</option>
<option value="J">J</option>
<option value="JAGS">JAGS</option>
<option value="Jasmin">Jasmin</option>
<option value="Java">Java</option>
<option value="JavaScript+Ruby">JavaScript+Ruby</option>
<option value="JavaScript">JavaScript</option>
<option value="JavaScript+PHP">JavaScript+PHP</option>
<option value="JavaScript+Smarty">JavaScript+Smarty</option>
<option value="JCL">JCL</option>
<option value="JSGF">JSGF</option>
<option value="JSON-LD">JSON-LD</option>
<option value="JSON">JSON</option>
<option value="Julia">Julia</option>
<option value="Juttle">Juttle</option>
<option value="Kal">Kal</option>
<option value="Kconfig">Kconfig</option>
<option value="Koka">Koka</option>
<option value="Kotlin">Kotlin</option>
<option value="LSL">LSL</option>
<option value="CSS+Lasso">CSS+Lasso</option>
<option value="HTML+Lasso">HTML+Lasso</option>
<option value="JavaScript+Lasso">JavaScript+Lasso</option>
<option value="Lasso">Lasso</option>
<option value="XML+Lasso">XML+Lasso</option>
<option value="Lean">Lean</option>
<option value="Limbo">Limbo</option>
<option value="liquid">liquid</option>
<option value="LiveScript">LiveScript</option>
<option value="LLVM">LLVM</option>
<option value="Logos">Logos</option>
<option value="Logtalk">Logtalk</option>
<option value="Lua">Lua</option>
<option value="MIME">MIME</option>
<option value="MOOCode">MOOCode</option>
<option value="Makefile">Makefile</option>
<option value="CSS+Mako">CSS+Mako</option>
<option value="HTML+Mako">HTML+Mako</option>
<option value="JavaScript+Mako">JavaScript+Mako</option>
<option value="Mako">Mako</option>
<option value="XML+Mako">XML+Mako</option>
<option value="MAQL">MAQL</option>
<option value="Mask">Mask</option>
<option value="Mason">Mason</option>
<option value="Mathematica">Mathematica</option>
<option value="Matlab">Matlab</option>
<option value="MiniD">MiniD</option>
<option value="Modelica">Modelica</option>
<option value="Monkey">Monkey</option>
<option value="Monte">Monte</option>
<option value="MoonScript">MoonScript</option>
<option value="CSS+mozpreproc">CSS+mozpreproc</option>
<option value="mozhashpreproc">mozhashpreproc</option>
<option value="Javascript+mozpreproc">Javascript+mozpreproc</option>
<option value="mozpercentpreproc">mozpercentpreproc</option>
<option value="XUL+mozpreproc">XUL+mozpreproc</option>
<option value="MQL">MQL</option>
<option value="Mscgen">Mscgen</option>
<option value="MuPAD">MuPAD</option>
<option value="MXML">MXML</option>
<option value="MySQL">MySQL</option>
<option value="CSS+Myghty">CSS+Myghty</option>
<option value="HTML+Myghty">HTML+Myghty</option>
<option value="JavaScript+Myghty">JavaScript+Myghty</option>
<option value="Myghty">Myghty</option>
<option value="XML+Myghty">XML+Myghty</option>
<option value="NCL">NCL</option>
<option value="NSIS">NSIS</option>
<option value="NASM">NASM</option>
<option value="objdump-nasm">objdump-nasm</option>
<option value="Nemerle">Nemerle</option>
<option value="nesC">nesC</option>
<option value="NewLisp">NewLisp</option>
<option value="Newspeak">Newspeak</option>
<option value="Nimrod">Nimrod</option>
<option value="Nit">Nit</option>
<option value="Nix">Nix</option>
<option value="Notmuch">Notmuch</option>
<option value="NuSMV">NuSMV</option>
<option value="NumPy">NumPy</option>
<option value="objdump">objdump</option>
<option value="Objective-C">Objective-C</option>
<option value="Objective-C++">Objective-C++</option>
<option value="Objective-J">Objective-J</option>
<option value="OCaml">OCaml</option>
<option value="Octave">Octave</option>
<option value="ODIN">ODIN</option>
<option value="Ooc">Ooc</option>
<option value="Opa">Opa</option>
<option value="PacmanConf">PacmanConf</option>
<option value="Pan">Pan</option>
<option value="ParaSail">ParaSail</option>
<option value="Pawn">Pawn</option>
<option value="Perl6">Perl6</option>
<option value="Perl">Perl</option>
<option value="PHP">PHP</option>
<option value="Pig">Pig</option>
<option value="Pike">Pike</option>
<option value="PkgConfig">PkgConfig</option>
<option value="Pony">Pony</option>
<option value="PostScript">PostScript</option>
<option value="PowerShell">PowerShell</option>
<option value="Praat">Praat</option>
<option value="Prolog">Prolog</option>
<option value="Properties">Properties</option>
<option value="Pug">Pug</option>
<option value="Puppet">Puppet</option>
<option value="Python">Python</option>
<option value="QBasic">QBasic</option>
<option value="QVTO">QVTO</option>
<option value="QML">QML</option>
<option value="RConsole">RConsole</option>
<option value="Racket">Racket</option>
<option value="Ragel">Ragel</option>
<option value="Rd">Rd</option>
<option value="REBOL">REBOL</option>
<option value="Red">Red</option>
<option value="Redcode">Redcode</option>
<option value="ResourceBundle">ResourceBundle</option>
<option value="Rexx">Rexx</option>
<option value="RHTML">RHTML</option>
<option value="RobotFramework">RobotFramework</option>
<option value="RQL">RQL</option>
<option value="RSL">RSL</option>
<option value="reStructuredText">reStructuredText</option>
<option value="TrafficScript">TrafficScript</option>
<option value="Ruby">Ruby</option>
<option value="Rust">Rust</option>
<option value="SAS">SAS</option>
<option value="S">S</option>
<option value="SARL">SARL</option>
<option value="Sass">Sass</option>
<option value="Scala">Scala</option>
<option value="Scaml">Scaml</option>
<option value="scdoc">scdoc</option>
<option value="Scheme">Scheme</option>
<option value="Scilab">Scilab</option>
<option value="SCSS">SCSS</option>
<option value="ShExC">ShExC</option>
<option value="Shen">Shen</option>
<option value="Silver">Silver</option>
<option value="Slash">Slash</option>
<option value="Slim">Slim</option>
<option value="Slurm">Slurm</option>
<option value="Smali">Smali</option>
<option value="Smalltalk">Smalltalk</option>
<option value="Smarty">Smarty</option>
<option value="Snobol">Snobol</option>
<option value="Snowball">Snowball</option>
<option value="Solidity">Solidity</option>
<option value="SPARQL">SPARQL</option>
<option value="SQL">SQL</option>
<option value="SquidConf">SquidConf</option>
<option value="Stan">Stan</option>
<option value="Stata">Stata</option>
<option value="SuperCollider">SuperCollider</option>
<option value="Swift">Swift</option>
<option value="SWIG">SWIG</option>
<option value="systemverilog">systemverilog</option>
<option value="TAP">TAP</option>
<option value="TOML">TOML</option>
<option value="TASM">TASM</option>
<option value="Tcl">Tcl</option>
<option value="Tcsh">Tcsh</option>
<option value="Tea">Tea</option>
<option value="Termcap">Termcap</option>
<option value="Terminfo">Terminfo</option>
<option value="Terraform">Terraform</option>
<option value="TeX">TeX</option>
<option value="Thrift">Thrift</option>
<option value="Todotxt">Todotxt</option>
<option value="Treetop">Treetop</option>
<option value="Turtle">Turtle</option>
<option value="HTML+Twig">HTML+Twig</option>
<option value="Twig">Twig</option>
<option value="TypeScript">TypeScript</option>
<option value="TypoScriptCssData">TypoScriptCssData</option>
<option value="TypoScriptHtmlData">TypoScriptHtmlData</option>
<option value="TypoScript">TypoScript</option>
<option value="ucode">ucode</option>
<option value="Unicon">Unicon</option>
<option value="UrbiScript">UrbiScript</option>
<option value="VBScript">VBScript</option>
<option value="VCL">VCL</option>
<option value="VCLSnippets">VCLSnippets</option>
<option value="VCTreeStatus">VCTreeStatus</option>
<option value="VGL">VGL</option>
<option value="Vala">Vala</option>
<option value="aspx-vb">aspx-vb</option>
<option value="VB.net">VB.net</option>
<option value="HTML+Velocity">HTML+Velocity</option>
<option value="Velocity">Velocity</option>
<option value="XML+Velocity">XML+Velocity</option>
<option value="verilog">verilog</option>
<option value="vhdl">vhdl</option>
<option value="WDiff">WDiff</option>
<option value="Whiley">Whiley</option>
<option value="X10">X10</option>
<option value="XQuery">XQuery</option>
<option value="XML+Ruby">XML+Ruby</option>
<option value="XML">XML</option>
<option value="XML+PHP">XML+PHP</option>
<option value="XML+Smarty">XML+Smarty</option>
<option value="XSLT">XSLT</option>
<option value="Xtend">Xtend</option>
<option value="YAML+Jinja">YAML+Jinja</option>
<option value="YAML">YAML</option>
<option value="Zeek">Zeek</option>
<option value="Zephir">Zephir</option>
<option value="Zig">Zig</option>
        </select>

<!--        Select styles-->
        <span>Styles:</span>
        <select name="styles">
<option value="default">default</option>
<option value="emacs">emacs</option>
<option value="friendly">friendly</option>
<option value="colorful">colorful</option>
<option value="autumn">autumn</option>
<option value="murphy">murphy</option>
<option value="manni">manni</option>
<option value="monokai">monokai</option>
<option value="perldoc">perldoc</option>
<option value="pastie">pastie</option>
<option value="borland">borland</option>
<option value="trac">trac</option>
<option value="native">native</option>
<option value="fruity">fruity</option>
<option value="bw">bw</option>
<option value="vim">vim</option>
<option value="vs">vs</option>
<option value="tango">tango</option>
<option value="rrt">rrt</option>
<option value="xcode">xcode</option>
<option value="igor">igor</option>
<option value="paraiso-light">paraiso-light</option>
<option value="paraiso-dark">paraiso-dark</option>
<option value="lovelace">lovelace</option>
<option value="algol">algol</option>
<option value="algol_nu">algol_nu</option>
<option value="arduino">arduino</option>
<option value="rainbow_dash">rainbow_dash</option>
<option value="abap">abap</option>
<option value="solarized-dark">solarized-dark</option>
<option value="solarized-light">solarized-light</option>
<option value="sas">sas</option>
<option value="stata">stata</option>
<option value="stata-light">stata-light</option>
<option value="stata-dark">stata-dark</option>
<option value="inkpot">inkpot</option>
        </select>

<!--        Button-->
        <input type="submit" value="Submit" name="ok"/>
        </div>
        <br>

        <div id="display01">
            <div id="display02">
            <strong>Display</strong><br>
            <iframe frameborder='0'
                    noresize='noresize'
                    style='position: absolute; background: transparent; width: 100%; height:100%;'
                    srcdoc="{{ iframe }}"
                    frameborder="0">
            </iframe>
            </div>
        </div>

    </form>
</div>
</body>

<style type="text/css">
    #container {align-items: center; margin: 0 auto; width: 80%}
    #source01 {
        float: left;
        width: 50%;
    }
    #source02 {
        margin-right: 1em;
    }
    #html01 {
        float: right;
        width: 50%;
    }
    #html02 {
        margin-left: 1em;
    }
    #settings {
        float: right;
    }
    #display01 {
        float: none;
    }
    #display02 {
        /*margin-bottom: 3em;*/
    }
</style>
</html>
